{
  "arrowParens": "always",
  "bracketSpacingsameLine": true,
  "braketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "enableDebugLogs": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": true,
  "printWidth": 300,
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "proseWrap": "preserve",
  "prettierPath": "./node_modules/prettier",
  "parser": "typescript"
}